<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="FacebookClientId" value="119433878171843"/>
    <add key="FacebookApplicationSecret" value="4fb0220fd3bdf560d503f1c5c7b08f4a"/>
  </appSettings>
</configuration>